.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* Pour s'assurer que la vidéo reste en arrière-plan */
}

.hero-section {
  position: relative;
  height: 100vh; /* Taille de l'écran */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.overlay {
  position: relative;
  z-index: 2;
}

section {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8); /* Légère transparence */
  padding: 50px;
  margin: 50px auto;
  width: 80%;
  font-size: 1.2em;
}

.container {
  position: relative;
}




